<h3>atualizar</h3>
<div style="float:right" class="form-group">
      <img  src="{{avatar}}" class="img-responsive" width="200"/>
</div>  
<div style="width: 400px;">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">    
    <div>
    	<label style="color:red"><h5>{{error}}</h5></label>
    </div>
    <div class="form-group">
      <label for="name">CPF</label>
      <input type="text" class="form-control" formControlName="cpf" mask="CPF_CNPJ" maxlength="14" [ngClass]="{ 'is-invalid': submitted && campo.cpf.errors }"/>
	<div *ngIf="submitted && campo.cpf.errors" class="invalid-feedback">
            <div *ngIf="campo.cpf.errors.required">CPF é obrigatório</div>
           <div *ngIf="campo.cpf.errors.validar">Número de CPF inválido</div>
        </div>
    </div>

    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" formControlName="nome" maxlength="150" [ngClass]="{ 'is-invalid': submitted && campo.nome.errors }"/>
	<div *ngIf="submitted && campo.nome.errors" class="invalid-feedback">
            <div *ngIf="campo.nome.errors.required">O Nome é obrigatório</div>
            <div *ngIf="campo.nome.errors.maxlength">O Nome deve ter no máximo 150 caracteres</div>
        </div>
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" formControlName="email"  maxlength="400" placeholder="exemplo@exemplo.com" [ngClass]="{ 'is-invalid': submitted && campo.email.errors }"/>
	<div *ngIf="submitted && campo.email.errors" class="invalid-feedback">
                <div *ngIf="campo.email.errors.required">O Campo E-mail é obrigatório</div>
                <div *ngIf="campo.email.errors.email">O Email deve ser no formato exemplo@exemplo.com </div>
                <div *ngIf="campo.email.errors.maxlength">O Email deve ter no máximo 400 caracteres </div>
       </div>
    </div>

    <div class="form-group">
      <label for="name">Data de Nascimento</label>
      <input type="date" class="form-control" formControlName="dataNascimento" placeholder="dd/MM/yyyy"/>
    </div>
    
    <div class="form-group">
      <label for="name">Avatar</label>
        <input type="file" class="form-control" (change)="selecionarImagem($event)" [ngClass]="{ 'is-invalid': arquivoMaiorQue1mb || formatoIncorreto }">
	<div *ngIf="arquivoMaiorQue1mb || formatoIncorreto" class="invalid-feedback">
                <div *ngIf="arquivoMaiorQue1mb">O Arquivo não pode ser maior que 1MB</div>
                <div *ngIf="formatoIncorreto">Formato de arquivos aceitos png,bmp,jpeg e gif</div>
       </div>
    </div>    
    <button type="submit" class="btn btn-success">Salvar</button>
  </form>    
</div>

