<h2>Detalhes do Cadastro</h2> 
<div style="float:right" class="form-group">
      <img  src="{{avatar}}" class="img-responsive" width="200"/>
</div>  

<hr/>
<div *ngIf="cadastro">
  <div>
    <label><b>Cpf: </b></label> {{cadastro.cpf}}
  </div>
  <div>
    <label><b>Nome: </b></label> {{cadastro.nome}}
  </div>
  <div>
    <label><b>Email: </b></label> {{cadastro.email}}
  </div>  
  <div>
    <label><b>Data de Nascimento: </b></label> {{cadastro.dataNascimento | date: "dd/MM/yyyy"}}
  </div>    
</div>

<br>
<br>
<button (click)="listar()" class="btn btn-primary">Voltar</button><br>
