<div class="panel panel-primary">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cpf</th>
          <th>Email</th>
          <th>Data de Nascimento</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cadastro of cadastro">
          <td>{{cadastro.nome}}</td>
          <td>{{cadastro.cpf}}</td>
          <td>{{cadastro.email}}</td>
          <td>{{cadastro.dataNascimento | date: "dd/MM/yyyy"}}</td>
          <td><button (click)="desativarCadastro(cadastro.uuid)" class="btn btn-danger">Excluir</button>
	      <button (click)="atualizarCadastro(cadastro.uuid)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
              <button (click)="detalhesCadastro(cadastro.uuid)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
